/* reseteo de CSS */
* {
    margin: 0;
	padding: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
} 

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    /* color: #001f53ff; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

img {
    height: auto;
    max-width: 100%;
}

mark {
    background-color: #cbe0aaff;
}

/* 
Paleta de colores generada con coolors.co 
https://coolors.co/001f53-ffffc4-cbe0aa-68a177-00ce00

--penn-blue: #001f53ff;
--cream: #ffffc4ff;
--tea-green: #cbe0aaff;
--mint: #68a177ff;
--lime-green: #00ce00ff;
*/

.c-azul {
    color: #001f53;
}

.c-crema {
    color: #ffffc4;
}

.c-teverde {
    color: #cbe0aa;
}

.c-menta {
    color: #68a177;
}

.c-verde {
    color: #00ce00;
}

.c-gris {
    color: #E2E8F0;
}

.separador {
    border-top: 1px solid #CAD5CA;
}

.header-container {
    background-image: url(../img/index-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30rem;
    color: #001f53ff;
}

.header-container a {
    color: #001f53ff;
}

.header-container a:hover {
    color: #00ce00ff;
}

.header-container a:hover:active {
    color: #68a177ff;
}
 
/* 
No sé como reemplazar el color del nav-link active para que aria-urrent se vea en color verde
.header-container a:visited {
    color: #68a177ff;
} */

.navbar-brand {
    width: 50%;
    min-width: 100px;
} 

.navbar-brand img {
    width: 30%;
    min-width: 100px;
}

.section-container {
/* text-align: center; lo migré a bootstrap */ 
padding: 2rem 0rem;
}

.section-container h1 {
    font-size: 2.5rem;
}

.section-whatsapp {
    padding: 2rem 1rem;
    background-color: #25d366;
}

.section-pioneros {
    padding: 2rem 1em;
    background-color: #E2E8F0;
}

.section-contacto {
    /* padding: 2rem 1em; */
    background-color: #E2E8F0;
}

.section-container
.section-whatsapp
.section-pioneros
.section-contacto p {
    margin: 1rem 0rem;
}

.article-product p {
    padding: 0rem 1rem;
} 

.borde-verde {
    border: 1.5px solid #00CE00;
}

.product {
    margin: 1em 0em;
    border: 1px solid #68a177ff; 
}

.product h3 {
    padding: 0.5em;
}

.btn-piste {
    color: white;
    background-color: #00348F;
    border-color: #00348F;
}

.btn-piste:hover {
    color: white;
    background-color: #001f53ff;
    border-color: #001f53ff;
}

.btn-piste:active {
    color: white;
    background-color: #001f53ff;
    border-color: #001f53ff;
}

.btn-amarillo {
    color: #00ce00ff;
    background-color: #ffffc4ff;
    border-color: #ffffc4ff;
}

.btn-amarillo:hover {
    color: #00ce00ff;
    background-color: #cbe0aaff;
    border-color: #cbe0aaff;
}

.footer-container {
    background-color: #001f53ff;
    padding-top: 2em;
    color: white;
}

.footer-container ul {
    list-style:none;
    padding: 0px;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    color: #00CE00;
}